<article id="insumosWrapper">

    <div class="loading" data-bind="visible: loading">
        <div class="facebookG">
            <div class="blockG_1 facebook_blockG">
            </div>
            <div class="facebook_blockG blockG_2">
            </div>
            <div class="facebook_blockG blockG_3">
            </div>
        </div>
    </div>

    <h1>Insumos</h1>

    <button class="btn btn-default" data-bind="click: showNew, visible: showList() && !loading()">Registrar nuevo</button>

    <div data-bind="visible: !loading() && showList()">
        <input class="input-sm" style="float:right" type="text" data-bind="textInput: filter" placeholder="Búsqueda" />

        <table class="table">
            <thead>
            <tr>
                <th>Insumo</th>
                <th>Precio</th>
                <th>Existencia</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: filteredInsumos(filter)">
            <tr>
                <td data-bind="text: insumo"></td>
                <td data-bind="text: precio"></td>
                <td data-bind="text: existencia"></td>
                <td style="text-align: right">
                    <button class="btn btn-default">Editar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div data-bind="visible: !loading() && !showList()">
        <div class="col-sm-12">
            <input class="input-sm" type="text" placeholder="Nombre" style="margin-bottom: 10px;" data-bind="textInput:insumo.insumo"><br>
            <input class="input-sm" type="text" placeholder="Precio" style="margin-bottom: 10px;" data-bind="textInput:insumo.precio"><br />
            <input class="input-sm" type="text" placeholder="Existencia" style="margin-bottom: 10px;" data-bind="textInput:insumo.existencia"><br />
            <br><br>
            <button class="btn btn-default" data-bind="click: hideNew">Cancelar</button>
            <button class="btn btn-primary" data-bind="click: saveInsumo">Guardar</button>
        </div>
    </div>
</article>

<script src="js/models/insumos.js"></script>
<script>
    $(document).ready(function(){
        $('.facebookG').center();
        viewModelInsumos.getInsumos();
        ko.applyBindings(viewModelInsumos, document.getElementById("insumosWrapper"));
    });
</script>