<article id="productosWrapper">

    <div class="loading" data-bind="visible: loading">
        <div class="facebookG">
            <div class="blockG_1 facebook_blockG">
            </div>
            <div class="facebook_blockG blockG_2">
            </div>
            <div class="facebook_blockG blockG_3">
            </div>
        </div>
    </div>

    <h1>Productos</h1>

    <div data-bind="visible: !vistaDetalles()">
        <button class="btn btn-default" data-bind="click: showNew, visible: showList() && !loading()">Registrar nuevo</button>

        <div data-bind="visible: !loading() && showList()">
            <input class="input-sm" style="float:right" type="text" data-bind="textInput: filter" placeholder="Búsqueda" />

            <table class="table">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: filteredProductos(filter)">
                <tr>
                    <td data-bind="text: producto"></td>
                    <td data-bind="text: precio"></td>
                    <td style="text-align: right">
                        <button class="btn btn-default" data-bind="click: $parent.getInsumos">Insumos</button>
                        <button class="btn btn-default" data-bind="click: $parent.getProducto">Editar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-bind="visible: vistaDetalles">
        <h2 data-bind="text: selectedProducto.nombre"></h2>

        <div class="col-lg-6 col-sm-6">
            <h3>Agregar Insumo</h3>
            <select style="color: grey" class="input-sm" data-bind="options: allInsumos,
                           optionsText: 'insumo',
                           value: insumoSelectValue,
                           optionsValue: 'id',
                           optionsCaption: 'Selecciona uno...'">
            </select><br><br>
            <input class="input-sm" type="text" data-bind="textInput: cantidadInsumo" placeholder="Cantidad"><br><br>
            <button class="btn btn-primary" data-bind="click: addInsumo">Agregar</button>
        </div>

        <div class="col-lg-6 col-sm-6">
            <h3>Insumos registrados</h3>
            <div>
                <table class="table">
                    <tbody data-bind="foreach: insumos()">
                        <tr>
                            <td data-bind="text:insumo"></td>
                            <td>
                                <button class="btn btn-danger" data-bind="click: $parent.deleteInsumo">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</article>

<script src="js/models/productos.js"></script>
<script>
    $(document).ready(function(){
        $('.facebookG').center();
        viewModelProductos.getProductos();
        ko.applyBindings(viewModelProductos, document.getElementById("productosWrapper"));
    });
</script>