<article id="proveedoresWrapper">

    <div class="loading" data-bind="visible: loading">
        <div class="facebookG">
            <div class="blockG_1 facebook_blockG">
            </div>
            <div class="facebook_blockG blockG_2">
            </div>
            <div class="facebook_blockG blockG_3">
            </div>
        </div>
    </div>

    <h1>Proveedores</h1>

    <button class="btn btn-default" data-bind="click: showNew, visible: showList() && !loading()">Registrar nuevo</button>

    <div data-bind="visible: !loading() && showList()">
        <input class="input-sm" style="float:right" type="text" data-bind="textInput: filter" placeholder="Búsqueda" />

        <table class="table">
            <thead>
            <tr>
                <th>Proveedor</th>
                <th>Dirección</th>
                <th>Contacto</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: filteredProveedores(filter)">
            <tr>
                <td data-bind="text: proveedor"></td>
                <td data-bind="text: direccion"></td>
                <td data-bind="text: contacto"></td>
                <td style="text-align: right">
                    <button class="btn btn-default" data-bind="click: $parent.getProveedor">Editar</button>
                    <button class="btn btn-danger" data-bind="click: $parent.deleteProveedor">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="float: none" data-bind="visible: !showList() && !loading()">
        <h3>Guardar proveedor</h3>

        <form>
            <div class="col-sm-12">
                <input class="input-sm" type="text" placeholder="Nombre" style="margin-bottom: 10px;" data-bind="textInput:proveedor.nombre"><br>
                <input class="input-sm" type="text" placeholder="Dirección" style="margin-bottom: 10px;" data-bind="textInput:proveedor.direccion"><br />
                <input class="input-sm" type="text" placeholder="Contacto" style="margin-bottom: 10px;" data-bind="textInput:proveedor.contacto"><br />
                <br><br>
                <button class="btn btn-default" data-bind="click: hideNew">Cancelar</button>
                <button class="btn btn-primary" data-bind="click: saveProveedor">Guardar</button>
            </div>
        </form>
    </div>
</article>

<script src="js/models/proveedores.js"></script>
<script>
    $(document).ready(function(){
        $('.facebookG').center();
        viewModelProveedores.getProveedores();
        ko.applyBindings(viewModelProveedores, document.getElementById("proveedoresWrapper"));
    });
</script>