<article id="usersWrpper">
    <div class="loading" data-bind="visible: loading">
        <div id="facebookG">
            <div id="blockG_1" class="facebook_blockG">
            </div>
            <div id="blockG_2" class="facebook_blockG">
            </div>
            <div id="blockG_3" class="facebook_blockG">
            </div>
        </div>
    </div>

    <h1>Usuarios</h1>

    <button class="btn btn-default" data-bind="click: showNew, visible: showList() && !loading()">Registrar nuevo</button>

    <div data-bind="visible: showList() && !loading()" class="col-sm-8" style="float: none">
        <input class="input-sm" style="float: right" type="text" data-bind="textInput: filter" placeholder="Búsqueda" />

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: filteredUsers(filter)">
                    <tr>
                        <td data-bind="text: usuario"></td>
                        <td data-bind="text: email"></td>
                        <td>
                            <span data-bind="visible: $parent.isAdmin($data)">Administrador</span>
                            <span data-bind="visible: $parent.isNormal($data)">Simple mortal</span>
                        </td>
                        <td style="text-align: right">
                            <button class="btn btn-default" data-bind="click:$parent.editUser">Editar</button>
                            <button class="btn btn-danger" data-bind="click:$parent.deleteUser">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-8" style="float: none" data-bind="visible: showRegister() && !loading()">
        <h3>Guardar usuario</h3>
        <span data-bind="text: selectedUser"></span>

        <form>
            <div class="col-sm-12">
                <input class="input-sm" type="text" placeholder="Nombre" style="margin-bottom: 10px;" data-bind="textInput:username"><br>
                <input class="input-sm" type="text" placeholder="Email" style="margin-bottom: 10px;" data-bind="textInput:usermail"><br />
                <input class="input-sm" type="text" placeholder="Password" style="margin-bottom: 10px;" data-bind="textInput:userpassword"><br />
                <select style="color: grey" class="input-sm" data-bind="options: tiposUsuario,
                           optionsText: 'tag',
                           value: usertype,
                           optionsValue: 'val',
                           optionsCaption: 'Selecciona uno...'">
                </select>
                <br><br>
                <button class="btn btn-default" data-bind="click: hideNew">Cancelar</button>
                <button class="btn btn-primary" data-bind="click: saveUser">Guardar</button>
            </div>
        </form>
    </div>
</article>



<script src="js/models/users.js"></script>
<script>
    $(document).ready(function(){
        $('#facebookG').center();
        viewModelUsers.getUsers();
        ko.applyBindings(viewModelUsers, document.getElementById("usersWrapper"));
    });
</script>