<article id="ventasWrapper">
<div id="wrapper">

    <h1 class="page-header">Ventas</h1>



    <div data-bind="visible: showList">
        <button class="btn btn-default" data-bind="click:showNew">Registrar venta</button><br><br>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Ventas
                    </div>
                    <div class="panel-body">
                        <table id="example" class="display" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Venta ID</th>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>No. Pedido</th>
                                <th>Cantidad</th>
                                <th>No. Lote</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Venta ID</th>
                                <th>Cliente</th>
                                <th>Producto</th>
                                <th>No. Pedido</th>
                                <th>Cantidad</th>
                                <th>No. Lote</th>
                                <th>Precio</th>
                                <th>Total</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

    <div data-bind="visible:!showList()">
        <select style="color: grey" class="input-sm" data-bind="options: productos,
                           optionsText: 'producto',
                           value: productosSelectValue,
                           optionsValue: 'idproducto',
                           optionsCaption: 'Selecciona un producto'">
        </select>
        <br><br>
        <select style="color: grey" class="input-sm" data-bind="options: clientes,
                           optionsText: 'cliente',
                           value: clientesSelectValue,
                           optionsValue: 'idcliente',
                           optionsCaption: 'Selecciona un cliente'">
        </select>
        <br><br>
        <input class="input-sm" type="text" data-bind="textInput:venta.nopedido" placeholder="Numero de pedido"><br><br>
        <input class="input-sm" type="text" data-bind="textInput:venta.cantidad" placeholder="Cantidad"><br><br>
        <input class="input-sm" type="text" data-bind="textInput:venta.nolote" placeholder="Numero de lote"><br><br>
        <input class="input-sm" type="text" data-bind="textInput:venta.precio" placeholder="Precio"><br><br>
        <input class="input-sm" type="text" data-bind="textInput:venta.total" placeholder="Total"><br><br>
        <input class="input-sm" type="date" data-bind="textInput:venta.fecha" placeholder="Fecha"><br><br>

        <button class="btn btn-default" data-bind="click:hideNew">Cancelar</button>
        <button class="btn btn-primary" data-bind="click:saveVenta">Guardar</button>
    </div>

</div>
<!-- /#wrapper -->
</article>

<script src="js/models/ventas.js"></script>
<script type="text/javascript">
    var $URI_BASE_API = "http://produccionapi.azurewebsites.net/";

    $(document).ready(function () {
        ko.applyBindings(viewModelVentas, document.getElementById("ventasWrapper"));
        viewModelVentas.getClientes();
        viewModelVentas.getProductos();

        var dt = $('#example').DataTable({
            "lengthMenu":[[5, 10, 15, 20, 25, 30], [5, 10, 15, 20, 25, 30]],
            "displayLength": 5,
            "processing": true,
            "serverSide": true,
            "ajaxSource": $URI_BASE_API + "getVentas/",
            "serverData":
                    function (source, data, callBack)
                    {
                        $.ajax({
                            type: 'GET',
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            url: source +
                            $.grep(data, function (obj) { return obj.name == 'sEcho'; })[0].value + "/" +
                            $.grep(data, function (obj) { return obj.name == 'iDisplayStart'; })[0].value + "/" +
                            $.grep(data, function (obj) { return obj.name == 'iDisplayLength'; })[0].value + "/" +
                            ($.grep(data, function (obj) { return obj.name == 'iSortCol_0'; })[0].value == 1 ? 'cliente' : 'producto') + "/" +
                            $.grep(data, function (obj) { return obj.name == 'sSortDir_0'; })[0].value + "/" +
                            ($.grep(data, function (obj) { return obj.name == 'sSearch'; })[0].value == '' ? '_' : $.grep(data, function (obj) { return obj.name == 'sSearch'; })[0].value),
                            success:
                                    function (productsResult) {
                                        callBack(productsResult);
                                    }
                        });
                    },
            "columns": [
                { "data": "idventa" },
                { "data": "cliente" },
                { "data": "producto" },
                { "data": "nopedido" },
                { "data": "cantidad" },
                { "data": "nolote" },
                { "data": "precio" },
                { "data": "total" }
            ],
            "order":[[1,'asc']]
        });
    });
</script>
